h1 {
    color: goldenrod; 
    font-size: 40px;
}
p {
    font-size: 25px;
} 
body {
    background-color: pink;
}
.menu {
    background-color: white;
    width: 15%;
    height: 100%;
    position: absolute;
    padding: 3%;
}
.main {
    width:80%;
    margin-left: 25%;
    padding: 3%;
}